<div class="createteamcontainer">
  <h1 id="createteamtitle">Create A Team!</h1>
  <hr>
  <% if @team.errors.any? %>
  <div>
    <ul>
      <% @team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_for(@team) do |f|%>
  <p class="teamfield">
    <br>
    <%= f.label :name %> :&nbsp;
    <%= f.text_field :name %>
  </p>
  <p>
    <!-- <%= f.submit "Create Team" %> -->
    <input id="newteam" value="Create Team" type="submit">
  </p>
  <% end %>
</div>
