<h1><%= @team.name %></h1>

<!-- find team members where user.team_id = team_id -->

<div class="graph">
  <%= area_chart Score.group_by_period(params[:period], :created_at, permit: %w[day week]).count, id:"users-chart", max: 100, xtitle: "Date/Time", ytitle: "Score (%)", colors: ["#595fed"] %>
</div>

<ul>
  <% Score.all.each do |score| %>
    <% if score.user.team_id == @team.id %>
        <li><%= score.user.name %> | <%= score.score %>%</li>
    <% end %>
  <% end %>

</ul>

<%= form_for(@user, method: "get") do |f|%>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.submit "Add to team!" %>
</p>
<% end %>
