<h1><%= @team.name %></h1>

<h2>Average Score: <%=@team_average %>%</h2>

<div class="graph">
  <%= line_chart Score.group_by_day(:created_at).count, id:"users-chart", max: 100, xtitle: "Date/Time", ytitle: "Score (%)", colors: ["#595fed"] %>
</div>

<ul>
  <% Score.all.each do |score| %>
    <% if score.user.team_id == @team.id %>
        <li><%= score.user.email %> | <%= score.score %>%</li>
    <% end %>
  <% end %>

</ul>

<div class="">
  <p>Join this team!:</p>
  <% @user = current_user %>
  <%= form_for (@user) do |f|%>
    <%= f.hidden_field :team_id, @team.id %>
    <%= f.submit_tag 'Add To Team' %>
  <% end %>
</div>
