<!-- MERGED THIS CODE FOR MAIN SCREEN LOOK... THIS FILE DOESN'T IN USE ANY MORE -->



<!-- <%= form_tag sessions_path do %>
<div class="usercontainer">
  <h1>Log In</h1>

  <div class="field">
    <%= label_tag :email %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <br>
  <input type="button" id="userlogin" value="Log In" onclick="window.location = '<%= calculators_path %>';">
  <div class="userlinks">
    <input type="button" id="newuser" value="Register" onclick="window.location = '<%= users_new_path %>';">
    <input type="button" id="guestuser" value="Guest User" onclick="window.location = '<%= calculators_path %>';">
  </div>
</div>
<% end %> -->
