
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale:1.0, width=devise-width" >
    <title>Thru CO2</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="javascripts/main.js"></script>
  </head>
  <body>
    <h1 class="hello">Welcome To Thru CO2</h1>
    <%= form_tag sessions_path do %>
    <div class="usercontainer">
      <div class="field">
        <%= label_tag :email %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <br>
      <div class="userlinks">
        <input type="button" id="user" value="Log In" onclick="popup();">

        <input type="button" id="userlogin" value="Log In" onclick="window.location = '<%= calculators_path %>';">
      <br>
        <input type="button" id="newuser" value="Register" onclick="window.location = '<%= users_new_path %>';">

        <input type="button" id="guestuser" value="Guest User" onclick="window.location = '<%= calculators_path %>';">
      </div>
    </div>
    <% end %>
    <footer>
      <h4>&copy; Bitmaker 2017</h4>
    </footer>
  </body>
</html>
