
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale:1.0, width=devise-width" >
    <title>Thru CO2</title>
    <link rel="stylesheet" href="stylesheets/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" />

    <script src="javascripts/main.js"></script>
  </head>
  <body>
    <h1 class="hello">Welcome To Thru CO2</h1>
    <%= form_tag sessions_path do %>
    <div class="usercontainer">

      <div class="field" placeholder="email">
        <%= label_tag :email %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field" placeholder="password">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <br>
      <div class="userlinks">
        <!-- <%= submit_tag "Log In" %> -->
        <input type="submit" id="userlogin" value="Log In">
      <br>
        <input type="button" id="newuser" value="Register" onclick="window.location = '<%= users_new_path %>';">

        <input type="button" id="guestuser" value="Guest User" onclick="window.location = '<%= calculators_path %>';">
      </div>
    </div>


    <% end %>
    <center>
      <div class="smallscreen">
        <input type="button" value="Login" id="login">
        <input type="button" value="Register" id="new" onclick="window.location = '<%= users_new_path %>';">
        <input type="button" value="Guest User" id="guest" onclick="window.location = '<%= calculators_path %>';">
      </div>
  </center>
  <div class="intro">
  <h3>ThruCO2 lets you map a travel route, and calculates CO2 emissions of how you chose to get there.</h3>
  <p> Do you drive to work, or take the subway? The app scores users on their travel choices, tracking commuting habits over time individually, or as a team. </p>
  </div>
    <footer>
      <h4>&copy; Bitmaker 2017</h4>
    </footer>
  </body>
</html>
