
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thru CO2</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="javascripts/main.js"></script>
  </head>
  <body>
    <!-- <img src="/assets/google-maps.jpg" alt="test"> -->
  <!-- <marquee direction="left" width="100%" height="300" behavior="slide" scrollamount="5"> -->
    <!-- <marquee direction="right" behavior="slide" scrollamount="5"> -->
    <h1 class="hello">Welcome To Thru CO2</h1>
    <!-- /</marquee> -->
  <!-- </marquee> -->
    <div class = "container">
      <!-- <input type="button" id="signin" value="Sign In" onclick="window.location = '<%= users_new_path %>';"> -->
      <!-- <input type="button" id="login" value="Log In" onclick="window.location = '<%= sessions_new_path %>';"> -->
      <!-- <input type="button" id="guestuser" value="Guest User" onclick="window.location = '<%= calculators_path %>';"> -->
      <ul>
        <div class="register">
          <li>
            <a href="<%= users_new_path %>">Register</a>
          </li>
        </div>
        <div class="login">
          <li>
            <a href="<%= sessions_new_path %>">Log In</a>
          </li>
        </div>
        <div class="guestuser">
          <li>
            <a href="<%= calculators_path %>"> Guest User</a>
          </li>
        </div>
      </ul>
    </div>
    <footer>
      <h4>&copy; Bitmaker 2017</h4>
    </footer>
    </body>
</html>
