<div class="usercontainer"><h1>Sign up</h1>

  <%if @user.errors.any? %>
    <div><
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@user) do |f| %>
    <p>
      <%= f.label :email %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.label :password %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <br>
      <input type="button" id="newuser" value="Create Account" onclick="window.location = '<%= calculators_path %>';">
      <!-- <%= f.submit "Create Account" %> -->
    </p>
  <% end %>
</div>
