<div class="signupcontainer"><h1>Sign up !</h1>
<hr>
  <!-- <%if @user.errors.any? %>
    <div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> -->

  <%= form_for(@user) do |f| %>
  <br>
      <p class="signupfields" placeholder="signupemail">
        <%= f.label :email %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
        <%= f.email_field :email %>
      </p>
      <p class="signupfields" placeholder="signuppassword">
        <%= f.label :password %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
        <%= f.password_field :password %>
      </p>
      <p class="signupfields" placeholder="signupconfirmpassword">
        <%= f.label :password_confirmation %>&nbsp;
        <%= f.password_field :password_confirmation %>
      </p>
      <p>
      <br>
      <input id="newsignup" value="Create Account" type="submit">
      <!-- <%= f.submit "Create Account" %> -->
    </p>
    <p>
      <%= link_to('Already have Account ?', '/') %> |
      <%= link_to('Guest User', '/calculators') %>
    </p>
  <% end %>
</div>
