<h1>My account</h1>

<h2><%= @user.name %></h2>
<h2>Team: <%= @user.team.name %></h2>
<h2>Average Score: <%= @user_average %></h2>

<ul>
  <% @user.scores.each do |score| %>
    <li>Trip Date: <%= score[:date] %><br>
        Distance: <%= score[:distance] %> km<br>
        Trip Score: <%= score[:score] %>%
    </li>
    <%= line_chart Score.group_by_day(:created_at).count %>

  <% end %>
</ul>
