<div id="link">Signed In as: <%= current_user.email %>!  <%= link_to 'Calculate Route', calculators_path %> | <%= link_to 'Logout', sessions_path("current"), :method => :delete %></div>
<hr>

<div class="showcontainer">
  <h1>My Account</h1>
  <h2>Team: <%= @user.team.name %></h2>
  <h2>Average Score: <%= @user_average %></h2>
  <div class="graph">
    <%= line_chart Score.group_by_hour(:created_at).count, id:"users-chart", max: 100, xtitle: "Date/Time", ytitle: "Score (%)", colors: ["#595fed"] %>
  </div>
  <ul>
    <% @user.scores.each do |score| %>
      <li>Trip Date: <%= score[:date] %><br>
          Distance: <%= score[:distance] %> km<br>
          Trip Score: <%= score[:score] %>%
      </li>
      <br>
    <% end %>
  </ul>
</div>


<!-- backup data (add to graph as backup option)
data: [{
        x: Fri, 28 July 2017,
        y: 24
    }, {
        x: Sat, 29 July 2017,
        y: 32

    }, {
        x: Sun, 30 July 2017,
        y: 19

    }, {
        x: Mon, 31 July 2017,
        y: 64
    }] -->
