<div id="link">Signed In as: <%= current_user.email %>!  <%= link_to 'Calculate Route', calculators_path %> | <%= link_to 'Logout', sessions_path("current"), :method => :delete %></div>
<hr>

<div class="showcontainer">
  <h1>My Account</h1>
  <h2>Name: <%= @user.name %></h2>
  <h2>Team: <%= @user.team.name %></h2>
  <h2>Average Score: <%= @user_average %></h2>
  <div class="graph">
    <%= area_chart Score.group_by_day(:created_at).count, id:"users-chart", max: 100, xtitle: "Time/Date", ytitle: "Score (%)", colors: ["#595fed"] %>
  </div>
  <ul>
    <% @user.scores.each do |score| %>
      <li>Trip Date: <%= score[:date] %><br>
          Distance: <%= score[:distance] %> km<br>
          Trip Score: <%= score[:score] %>%
      </li>
      <br>
    <% end %>
  </ul>
</div>
