<!DOCTYPE html>
<html>
  <head>
    <title>ThruCo2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class='userinfo'>
      <% if current_user %>
        Signed In as <%= current_user.email %>! <%= link_to 'My Account' %> | <%= link_to 'Logout', sessions_path("current"), :method => :delete %>
      <% else %>
        <%= link_to 'New_User', users_new_path %>
      </p>
    <% end %>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <p class="<%= key %>">
          <%= value %>
        </p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
